/*Global Styles
---------------------------------------*/
html{
    box-sizing: border-box;
    font-size: 62.5%; /*Sets default text size to 10px*/
}
*, *:before, *:after{
    box-sizing: inherit;
}
html, body{
    height: 100%;
    font-family: "Open Sans", sans-serif;

}
body {
    background: #f6f6f6;
    margin: 0;
    font-size: 1.5rem;
    line-height: 1.4;
}
h1, h2, h3{
    font-family: "Caveat", cursive;
    font-weight: 400;
    margin: 0;
}
h1{
    font-size: 7rem;
}
h2{
    font-size: 3.6rem;
}
h3{
    font-size: 2.4rem;
}
.content-wrapper{
    /* margin 0 auto auto centers the element equally on left and right
    Max width makes it so content is equal to 100% of its container*/
    margin: 0 auto;
    padding: 30px;
    max-width: 900px;

}

/*links*/
a{
    color: #058605;
}
a:hover {
    color: #0c9df1;
    text-decoration: none;
}
.btn{
    background: #058605;
    color: #f6f6f6;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    display: inline-block;
    padding: 7px;
    letter-spacing: .1em;
    line-height: 1;
    border-radius: 4px;
}
.format-block{
    display: block;
}
.format-right{
    margin-right: 100px;
}


/*HOME
---------------------------------------*/
.home{
    background: url(../images/snowy.jpg) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.home .content-wrapper{
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
}
.content-bg{
    background: rgb(255 255 255 / 0.9);
    padding: 30px;
}
@media screen and (max-width: 650px){
    .home .content-wrapper{
        padding: 10px;
    }
    .content-bg{
        padding: 20px;
    }
}

/*RESUME
---------------------------------------*/
.resume header::before{
    background: url(../images/snowy.jpg);
    background-size: cover;
    background-position: 50% 42%;
    content: ""; /*Need content property for pseudo ::before to work*/
    display: block;
    height: 375px;
}
.resume-section{
    margin-bottom: 50px;
}
.resume-section h2{
    border-bottom: 2px dashed #d3d4d6;
}
.download-link{
    position: fixed;
    top: 5px;
    left: 5px;
}
@media screen and (max-width: 1200px){
    .download-link{
        position: absolute;
    }
}
/*Projects
---------------------------------------*/
.project-item{
    margin: 30px 0;
}
.project-item img{
    width: 100%;
}
.project-link{
    font-family: "Open Sans", sans-serif;
    margin-left: 30%;
    font-size: 1.5rem;
}
@media screen and (min-width:860px){
    .project-item{
        display: grid;
        grid-template-columns: 300px 1fr;
        gap: 20px;    
    }
    .project-item img{
        margin-right: 20px;
    }
}
@media screen and (min-width: 650px) and (max-width: 859px){
    .project-wrapper{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 20px;
    }
}

@media screen and (max-width: 500px){
    .project-item img{
        margin-bottom: 10px;
    }
}

/*Work Experience
---------------------------------------*/
.work-item{
    margin: 30px 0;
}
.work-details p{
    margin: 0;
}

@media screen and (min-width: 800px){
    .work-item{
        display: grid;
        grid-template-columns: 300px 1fr;
        column-gap: 20px;
    }
    .work-summary p:first-child{
        margin-top: 0;
    }
}
@media screen and (max-width: 500px){
    .resume header::before{
        height: 200px;
    }
    h1{
        font-size: 5rem;
    }
    h2{
        font-size: 2.6rem;
    }
}

/*Education
---------------------------------------*/
.education-item{
    margin: 30px 0;
}
.education-item p{
    margin: 0;
}

/*FOOTER
---------------------------------------*/
footer{
    background: #222222;
    color: #d5d3d0;
    
}
footer a{
    /*Only applies to links in footer*/
    color: #8eaec8; 
}
footer a:hover {
    color: #6C6F5A;
}
.socials{
    list-style-type: none;
    padding: 0;
}
.socials li{
    display: inline-block;
    margin-left: 10px;

}
.socials img{
    width: 32px;
}
.socials img:hover{
    opacity: 0.5;
}
@media screen and (min-width: 860px){
    footer{
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
    }
}
@media screen and (min-width: 859px){
    footer{
        text-align: center;
        padding: 10px;
    }
}
